<% if @app.errors.any? %>
    <div id="error_message">
        <h2>There were some errors in the form</h2>
        <ul>
            <% @app.errors.full_messages.each do |msg| %>
            <li> <%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>
<p>
<h1>Register new API key</h1>
<fieldset>
<%= form_for @app,url: {action: "create"} do |f| %>

<!-- NAME -->
<p><%= f.label :name %></p>
<p><%= f.text_field :name %></p>
<!-- KEY -->
<p><%= f.label :key %></p>
<p><%= f.text_field :key %></p>
<p><%= f.submit "Create app" %></p>

<% end %>
</fieldset>